[language-server.typos]
command = "typos-lsp"

[[language]]
name = "rust"
auto-format = true
language-servers = ["rust-analyzer", "typos"]

[language-server.rust-analyzer.config]
check.command = "clippy"
imports.granularity.group = "module"

[[language]]
name = "toml"
auto-format = true
formatter = { command = "taplo", args = ["format", "-"] }
language-servers = ["taplo", "typos"]

[[language]]
name = "go"
auto-format = true
language-servers = ["gopls", "golangci-lint-lsp", "typos"]

[[language]]
name = "protobuf"
auto-format = true
language-servers = ["buf", "pbkit", "typos"]

[language-server.buf]
command = "buf"
args = ["beta", "lsp", "--timeout=0", "--log-format=text"]

[[language]]
name = "gdscript"
auto-format = true
language-servers = ["godot", "typos"]

[language-server.godot]
command = "nc"
args = ["127.0.0.1", "6005"]

[[language]]
name = "swift"
language-servers = ["sourcekit-lsp", "typos"]

[[language]]
name = "ruby"
language-servers = ["solargraph", "typos"]

[[language]]
name = "yaml"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "yaml"] }
language-servers = ["yaml-language-server", "ansible-language-server", "typos"]

[[language]]
name = "html"
auto-format = true
formatter = { command = 'prettier', args = ["--parser", "html"] }
language-servers = ["vscode-html-language-server", "superhtml", "typos"]

[[language]]
name = "css"
auto-format = true
language-servers = ["vscode-css-language-server", "typos"]
formatter = { command = 'prettier', args = ["--parser", "css"] }

[[language]]
name = "scss"
auto-format = true
language-servers = ["vscode-css-language-server", "typos"]
formatter = { command = 'prettier', args = ["--parser", "scss"] }
